
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  color: #493b4f;
}
html.dark {
  background-color: #111113;
  color: rgb(199, 208, 216);
}
body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
}
.sc-body-model-svg {
  stroke-width: 0.5px;
}
.sc-body-model-svg__path {
  stroke: none;
}
.sc-body-model-svg__path:hover,
  .sc-body-model-svg__path.active {
  fill: rgb(207, 168, 255);
  stroke: none
}
.markdown ol li, .markdown ul li {
  margin-block: 8px;
}
.markdown ol , .markdown ul {
  padding: 10px;
  border-radius: 5px;
  background: #493b4f13;
}
.markdown p {
  margin-top: 16px;
  margin-bottom: 8px;
}

::-webkit-scrollbar {
  width: 2px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f105;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #c058ed;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #7b3cf9;
}